.advantages {
  background: $color-ghost-white;
  padding: 96px 0 134px;

  @include vp-1199 {
    padding: 92px 0 93px;
  }

  @include vp-767 {
    padding: 63px 0 41px;
  }

  h2 {
    text-align: center;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-left: 12px;
    margin-bottom: 15px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin: 0;
      margin-bottom: 9px;
      margin-right: 22px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
  }
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: minmax(0, 321px) 1fr minmax(0, 329px);
  grid-auto-flow: row dense;
  max-width: 1040px;
  margin-left: 81px;
  margin-right: 70px;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    column-gap: 30px;
    max-width: none;
    margin: 0;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__card-central {
  grid-column: 2 / 3;
  grid-row: 1 / 8;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  padding: 36px 33px;
  text-align: center;
  margin: 0 60px;
  margin-top: 40px;
  min-height: 307px;
  margin-bottom: auto;

  @include vp-1199 {
    grid-column: 1 / 3;
    grid-row: span 2;
    min-height: 239px;
    margin: 43px 118px 9px;
    padding: 15px 133px;
  }

  @include vp-767 {
    margin: 37px 0 27px -15px;
    padding: 18px 73px;
    width: 100vw;
  }

  h4 {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    margin: 0;
    margin-top: -15px;
    margin-bottom: 32px;

    @include vp-1199 {
      font-size: 22px;
      line-height: 33px;
      margin-top: -19px;
      margin-bottom: 15px;
    }

    @include vp-767 {
      margin-top: -23px;
      margin-bottom: 9px;
    }
  }

  span {
    font-size: 74px;
    font-weight: 700;
    line-height: 111px;
  }

  b {
    font-weight: 700;
    font-size: 74px;
    line-height: 111px;
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__card {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 18px;

  @include vp-1199 {
    &::after {
      display: none;
    }
  }

  @include vp-767 {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 16px;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $color-crimson;
    opacity: 0.2;
    top: 53px;
    left: -7px;
    width: 103%;
    height: 2px;
  }

  &:first-child {
    b {
      display: block;
      background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.advantages__card--noborder {
  &::after {
    display: none;
  }
}

.advantages__card--bottom {
  align-items: flex-end;
  padding-top: 108px;

  @include vp-1199 {
    padding: 0;
    align-items: flex-start;
  }

  @include vp-767 {
    align-items: center;
  }
}

.advantages__card-number {
  text-align: left;
  margin-right: 30px;

  @include vp-767 {
    margin-right: 0;
    text-align: center;
  }

  b {
    display: block;
    background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 71px;
    line-height: 106px;

    @include vp-1199 {
      font-size: 58px;
      line-height: 87px;
    }
  }

  span {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-top: -22px;

    @include vp-1199 {
      margin-top: -16px;
    }

    @include vp-767 {
      margin-top: -19px;
    }
  }
}

.advantages__card-description {
  margin-top: 18px;

  @include vp-767 {
    margin: 5px 31px;
  }

  h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    margin-bottom: 6px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 0;
    }

    @include vp-767 {
      margin-bottom: 3px;
    }
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
}
