.coaches {
  padding-bottom: 140px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }

  h2 {
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 48px;
    padding-left: 69px;

    @include vp-1199 {
      padding-left: 0;
      text-align: center;
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 31px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 42px;
    }
  }
}

.coaches__wrapper {
  max-width: 1294px;
  position: relative;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 858px;
  }

  @include vp-767 {
    max-width: 570px;
  }
}

.coaches__inner {
  display: flex;
  padding: 0 19px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    margin: 0 auto;
    padding: 0 15px;
  }
}

.coaches__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: $color-default-white;
  column-gap: 3.35%;

  @media (max-width: 1310px) {
    max-width: 866px;
  }

  @include vp-1199 {
    gap: 0;
    max-width: 566px;
  }

  @media (max-width: 350px) {
    max-width: 226px;
    height: 274px;
  }
}

.coaches__slide {
  display: grid;
  max-width: 260px;
  max-height: 294px;

  @include hover-focus {
    .coaches__content {
      background-color: rgba(16, 38, 84, 0.89);
      display: block;
      max-height: inherit;
      padding-top: 51px;
      overflow: auto;
      scrollbar-width: none;

      @include vp-1199 {
        padding-top: 41px;
        padding-right: 33px;
      }
    }

    .coaches__content-inner {
      display: block;
      transform: translateY(-4px);
    }
  }

  @include vp-1199 {
    max-width: 268px;
  }

  @include vp-767 {
    max-height: none;
    max-width: 600px;
    height: auto;
    aspect-ratio: 1/1.24;
  }

  @media (max-width: 350px) {
    max-width: 226px;
    height: 274px;
  }

  h3 {
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }
}

.coaches__image {
  grid-column: 1/-1;
  grid-row: 1/2;

  img,
  picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.coaches__content {
  color: $color-default-white;
  display: grid;
  place-items: end center;
  padding: 23px;
  grid-column: 1/-1;
  grid-row: 1/2;

  @include vp-1199 {
    padding-bottom: 23px;
    padding-left: 32px;
  }
}

.coaches__content-inner {
  display: none;

  span {
    display: block;
    text-align: center;
    color: $color-spindle;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 35px;
  }
}

.coaches__content-list {
  text-align: left;
  // padding: 0 0 0 48px;
  padding: 0;
  padding-left: 28px;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  list-style-type: none;
  font-weight: 400;
}

.coaches__content-element {
  position: relative;
  padding-left: 20px;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-default-white;
    top: 7px;
    left: 4px;
  }

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.coaches__prev {
  color: $color-dark-gray;
  position: static;
  align-self: center;
  border: 0;
  display: block;
  background-color: transparent;
  margin: 0;
  margin-right: 2%;
  transform: translate(-9px, 5px);

  @include vp-1199 {
    margin: 0;
    transform: translateY(5px);
  }

  @include vp-767 {
    transform: translateY(13px);

    svg {
      width: 10px;
      height: 19px;
    }
  }

  &::after {
    display: none;
  }
}

.coaches__next {
  color: $color-dark-gray;
  position: static;
  align-self: center;
  border: 0;
  display: block;
  background-color: transparent;
  margin: 0;
  transform: translate(10px, 5px);

  @include vp-767 {
    transform: translate(17px, 13px);

    svg {
      width: 10px;
      height: 19px;
    }
  }

  &::after {
    display: none;
  }
}
