.header {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
  padding-top: 10px;

  @include vp-1199 {
    padding-top: 40px;
  }

  @include vp-767 {
    padding-top: 15px;
    gap: 10px;
    justify-content: flex-end;
  }
}

.header__logotype {
  @include vp-767 {
    flex: 1 1;
    min-width: 69px;
  }

  a {
    display: block;
    padding: 10px 0;

    transition: opacity $trans-default;

    @include vp-1199 {
      padding: 0;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  img {
    @include vp-1199 {
      width: 82px;
      height: 17px;
    }

    @include vp-767 {
      width: 69px;
      height: 24px;
    }
  }
}

.header__phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
  max-width: 800px;
  margin-left: auto;

  @include vp-1199 {
    max-width: 80%;
  }

  @include vp-767 {
    margin-left: 0;
    flex: 1 1;
    min-width: 120px;
  }

  a {
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $color-default-white;
    display: inline-block;

    transition: opacity $trans-default;

    @include vp-1199 {
      font-weight: 700;
      font-size: 24px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }

    @include vp-767 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
